[submodule "data/spice"]
	path = data/spice
	url = https://spiftp.esac.esa.int/git/bepicolombo.git
	shallow = true
[submodule "bepi-region-prediction"]
	path = bepi-region-prediction
	url = https://github.com/daraghhollman/bepi-region-prediction.git
